.leaflet-container {
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.ion-card-footer {
  position: absolute;
  left: 30px;
  bottom: 20px;
  width: 100%;
}

.has-card-footer {
  padding-bottom: 15px;
}

.modal-qrcode {
    --max-height: 100vh;
    --height: 90vh;
}
