.list--inline--wrapper {
  overflow-x: scroll !important;
  white-space: nowrap;
}

.list--inline--item {
    height: 200px;
}
.light--content--height {
    height: 450px;
}

::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}
