*,
*:before,
*:after {
  box-sizing: border-box;
}

.weather-container {
  height: 90%;
  padding: 0;
}

.weather-card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 101%;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
}

.card-active {
  background-image: linear-gradient(
    to right top,
    #2fdf75,
    #2dd871,
    #2cd16e,
    #2acb6a,
    #29c467
  );
}

.card-disabled {
  background-image: linear-gradient(
    to top,
    #92949c,
    #8a8b93,
    #81838a,
    #797a81,
    #717278
  );
}

.weather-card h1 {
  margin-left: 20px;
  margin-top: 70px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: #eee;
  left: 35px;
  opacity: 0;
  transform: translateX(150px);
  animation: title-appear 500ms ease-out 500ms forwards;
}
.weather-card p {
  margin-top: -15px;
  margin-left: 25px;

  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #eee;

  left: 35px;
  animation: title-appear 1s ease-out 500ms forwards;
}

.icon {
  position: relative;
  width: 50px;
  height: 50px;
  top: 0;
  float: right;
  margin: 40px 40px 0 0;
}

.icon-anim {
  animation: icon-move 5s ease-in-out infinite;
}

@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}
@keyframes rain {
  from {
    box-shadow: #2092a9 8px 0px, #2092a9 32px -6px, #2092a9 20px 0px;
  }
  to {
    box-shadow: #2092a9 8px 6px, #2092a9 32px 0px, #2092a9 20px 6px;
  }
}
@keyframes icon-move {
  50% {
    transform: translateY(-8px);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  margin-left: 5px;
  top: 18px;
}

.dot-active {
  background-color: #2dd36f;
}

.dot-disabled {
  background-color: #eb445a;
}

/* New animated icons */

.bolt {
  position: absolute;
  top: 30%;
  right: 30%;
  margin: -0.25em 0 0 -0.125em;
  color: #dddddd;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.7em;
  height: 0.25em;
  margin: -1.75em 0 0 -1em;
  transform: translate(2em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #ffd534;
    background: #ffd534;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}

.unbolt {
  position: absolute;
  top: 30%;
  right: 30%;
  margin: -0.25em 0 0 -0.125em;
  color: #aaaaaa;
  opacity: 0.3;

  animation: unbolt 3s linear infinite;
}

.unbolt:before,
.unbolt:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.unbolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}

@keyframes unbolt {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;

    transform: translateX(-3px);
  }
  50% {
    color: rgb(51, 51, 51);
    background: rgb(51, 51, 51);
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }

  75% {
    transform: translateX(6px);
  }

  80% {
    transform: translateX(-6px);
  }
}
